{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 pink-bg">
            <h1 class="font-title mt-3"> Welcome to Cake Heaven, where sugary dreams come true! </h1>
            <h4 class="my-3">Indulge in our heavenly creations, from exquisite wedding cakes to whimsical birthday
                delights,
                crafted with love and sprinkled with pure magic. Get ready to embark on a sweet journey that
                will leave your taste buds dancing with joy.
            </h4>
            <h4>
                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg shadow-lg rounded-0 logo-font py-3 m-3">Shop
                    Now</a>
            </h4>
        </div>
        <div class="col-12 col-md-6 photo"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Featured Cakes</h2>
            <hr class="mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                {% if product.is_featured %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-lx-3 gy-3">
                    <div class="card shadow h-100 border-1">
                        <!-- Product image -->
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <!-- Product name -->
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ product.name }}</p>
                        </div>
                        <!--  Card Footer - Product price and rating -->
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                    <!-- Display category -->
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-secondary text-decoration-none"
                                            href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fa-solid fa-cake-candles me-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    <!-- Product rating -->
                                    <small class="text-secondary"><i class="fas fa-star me-1"></i>{{ product.get_rating }} /
                                        5</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}