{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 pink-bg">
            <h1 class="font-title mt-2"> Welcome to Cake Heaven, where sugary dreams come true! </h1>
            <h4 class="my-3">Indulge in our heavenly creations, from exquisite wedding cakes to whimsical birthday delights,
                crafted with love and sprinkled with pure magic. Get ready to embark on a sweet journey that
                will leave your taste buds dancing with joy. 
            </h4>
            <h4>
                <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 m-3">Shop Now</a>
            </h4>
        </div>
        <div class="col-12 col-lg-6 photo"></div>
    </div>
</div>

{% endblock %}