{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col px-0">
            <hr>
            <h2 class="logo-font pink-bg mb-4 py-2 ps-3">Welcome on your profile page!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-secondary">Default Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="bg-btn-color btn btn-hov float-end rounded-0 shadow logo-font my-5">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-secondary">Order History</p>
            {{ orders }}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/countryfield.js' %}"></script>
{% endblock %}