@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--light);
}

/* Document Colours */

:root {
    /* Solid Colours */
    --dark: #140C00;
    --light: #fffefb;
    --light-grey: #EAEAEA;
    --light-grey-hov: #433636;
    --dark-grey: #4d4d4d;
    --hex-grey: #909090;
    --hex-grey-hov: #6d6d6d;
    --info: #FFCD85;
    --yellow-hov: #feb247;
    --hex-yellow: #EB7100;
    --hex-yellow-hov: #cf5600;
    --yellow-light: #FFE7C6;
    --blue: #0f748a;
    --blue-hov: #005163;
    --blue-light: #BCE1E9;
    --blue-light-hov: #92d7e6;
    --danger: #dc3545;
    --danger-hov: #931a26;
    --warning: #bc3663;
    --warning-light: #e9c2cf;
    --success: #1e6633;
    --success-hov: #114b23;
    --success-light: #b5dec1;
    --success-light-hov: #8cc29c;
    --message-closed: #e2fbea;
    --light-pink: #fde5ee;
}


.font-title {
    font-family: "Great vibes", sans-serif;
}


.pink-bg {
    background-color: var(--light-pink) !important;
}


/* ------------------ Banner animation */
.baner-anim {
    font-weight: bold;
    position: relative;
    height: 40px;
}


.baner-anim .anim {
    width: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    animation: 4s autoplay infinite;
}


.baner-anim .anim:nth-child(1) {
    animation-delay: 0s;
}


.baner-anim .anim:nth-child(2) {
    animation-delay: 2s;
}


/* -------------------- Main page photo */
.photo {
    height: 400px;
    background: url('/media/photo.jpg') no-repeat center center;
    background-size: cover;
}


.logo-font {
    text-transform: uppercase;
}

.main-logo {
    width: fit-content;
}

/* ------------------- Shop Now Button */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #222 !important;
    color: white !important;
}

/* ------------------- Search bar */
.search-box {
    height: 42px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.50) inset;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.search-box input {
    border: none;
    background: none;
    padding: 5px;
    padding-left: 10px;
    flex-grow: 1;
}

.search-box input:focus,
.search-box input:focus-visible {
    box-shadow: 0px 0px 0px 2px var(--light-pink) inset;
    border: none !important;
    outline: none !important;
}

.search-box button {
    background-color: var(--light-pink);
    border-radius: 0;
    width: 42px;
    border: solid 1px black;
}

.search-box button:hover,
.search-box button:active,
.search-box button:focus {
    background: var(--warning-light);
    color: white;
}

/* ----------------- Shadow on hamburger button */
.shadow-btn {
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.35)!important;
}


.shadow-btn:active,
.shadow-btn:focus {
    background: var(--light-pink);
    color: white;
}

/* ------------------ Footer */
.footer-mg i {
    margin-right: 5px;
}

.footer-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    -webkit-text-decoration-color: rgba(255, 254, 251, 0);
    text-decoration-color: rgba(255, 254, 251, 0);
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

/* --------------------- Products sorting */
.sort-select-wrapper {
    overflow: hidden;
    border: 2px solid var(--warning-light) !important;
}

#sort-selector {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border: none !important;
    background: var(--light);
    color: var(--dark-grey);
}

#sort-selector:focus-visible {
    outline: none !important;
}


/* ------------------- Scroll to top button */
#top-btn {
    width: 50px;
    height: 50px;
    background: var(--light-pink);
    position: fixed;
    right: 12px;
    bottom: 12px;
    color: black;
    display: none;
}

#top-btn:hover {
    background: var(--warning-light);
}

#top-btn a,
.update-link,
.remove-item {
    cursor: pointer;
}


/* ------------------------ Contact Page */
.bg-btn-color {
    background: var(--light-pink);
    border: 1px solid black;
}


.btn-hov:hover {
    background: var(--warning-light);
}

.black-btn {
    min-width: 100px;
}


/* --------------------- Success page, keep footer down */
.padding-bottom {
    padding-bottom: 9rem;
}


/* --------------------- Bag */
.image-ratio {
    aspect-ratio: 4 / 3;
    object-fit: contain;
    width: 100%;
}

.bottom-border {
    border-bottom: var(--hex-grey) 1px solid;
}


/* --------------- Quantity on product details */
.qty_input {
    box-shadow: 0px 0px 0px 1px black inset;
    border: none !important;
    outline: none !important;
}

.qty_input:focus {
    box-shadow: 0px 0px 0px 1px black inset;
    border: none !important;
    outline: none !important;
}

.update-link, .remove-item {
    font-size: 14px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.update-link:hover {
    color: var(--success-hov) !important;
}

.remove-item:hover {
    color: var(--danger-hov) !important;
}


/* ----------------------------- Toast messages */

.message-container {
    position: absolute;
    top: -65px;
    right: -13px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Toast arrows */
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-success {
    border-bottom-color: var(--success)  !important;
}

.arrow-danger {
    border-bottom-color: var(--danger) !important;
}

.arrow-warning {
    border-bottom-color: var(--warning) !important;
}

.arrow-info {
    border-bottom-color: var(--info) !important;
}


/* ------------------- Keyframes for banner animation */
@keyframes autoplay {
    0% {
        visibility: visible
    }
    50% {
        visibility: hidden
    }
  }


  /* ------------------- Checkout */

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/* ---------------------- Stripe */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}


/* -------------------- Loading animation */

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 12, 0, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.spinner-pink {
    color: var(--warning);
}


/* Allauth form formatting */


.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.allauth-form-inner-content input:focus {
    box-shadow: 0px 0px 0px 2px var(--light-pink) inset;
    border: none !important;
    outline: none !important;
    background-color: #fff;
}

.allauth-form-inner-content label {
    margin-top: 15px;
    margin-bottom: 10px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #222; /* text-info */
}


/* ----------------------Media queries */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }


@media (max-width: 992px) {
    .container { max-width: 100%; }
    .message-container {
        top: -18px;
        right: -5px;
}
  }


@media (max-width: 331px) {
    .baner-anim {
        height: 55px;
    }
  }


