@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #fffefb;
}


/* ----------------- Font style */
.font-title {
    font-family: "Great vibes", sans-serif;
}

/* ------------------- Pink background */
.pink-bg {
    background-color: #fde5ee !important;
}


/* -------------------- Keep footer down on pages with not eough content */
.padding-bottom {
    padding-bottom: 9rem;
}

/* Override bootstrap forms border colour on focused inputs */

.form-select:focus {
    border-color: #fde5ee;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(224, 174, 226, 0.25);
}


.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #fde5ee;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(224, 174, 226, 0.25);
}

.text-success {
    color: #00563B !important;
}

.text-danger {
    color: #C02F1D !important;
}

.text-success:hover {
    color: #137432 !important;
}

.text-danger:hover {
    color: #931a26 !important;
}


/* ------------------ Banner animation */
.baner-anim {
    font-weight: bold;
    position: relative;
    height: 40px;
}


.baner-anim .anim {
    width: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    animation: 4s autoplay infinite;
}


.baner-anim .anim:nth-child(1) {
    animation-delay: 0s;
}


.baner-anim .anim:nth-child(2) {
    animation-delay: 2s;
}


/* -------------------- Main page photo */
.photo {
    height: 430px;
    background: url('/media/photo.webp') no-repeat center center;
    background-size: cover;
}


.logo-font {
    text-transform: uppercase;
}

.main-logo {
    width: fit-content;
}

/* ------------------- Shop Now Button */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #222 !important;
    color: white !important;
}

/* --------------------- Remove button */
.remove-btn {
    background-color: #dc3545;
    color: #000;
    border: 1px solid #000;
}

.remove-btn:hover {
    background-color: #931a26;
    color: #fff;
}

/* ------------------- Search bar */
.search-box {
    height: 42px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.50) inset;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.search-box input {
    border: none;
    background: none;
    padding: 5px;
    padding-left: 10px;
    flex-grow: 1;
}

.search-box input:focus,
.search-box input:focus-visible {
    box-shadow: 0px 0px 0px 2px #fde5ee inset;
    border: none !important;
    outline: none !important;
}

.search-box button {
    background-color: #fde5ee;
    border-radius: 0;
    width: 42px;
    border: solid 1px #000;
}

.search-box button:hover,
.search-box button:active,
.search-box button:focus {
    background: #e9c2cf;
    color: #fff;
}

/* ----------------- Shadow on hamburger button */
.shadow-btn {
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.35)!important;
}


.shadow-btn:active,
.shadow-btn:focus {
    background: #fde5ee;
    color: #fff;
}

/* ------------------ Footer */
.footer-mg i {
    margin-right: 5px;
}

.footer-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    -webkit-text-decoration-color: rgba(255, 254, 251, 0);
    text-decoration-color: rgba(255, 254, 251, 0);
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

/* --------------------- Products sorting */
.sort-select-wrapper {
    overflow: hidden;
    border: 2px solid #e9c2cf !important;
}

#sort-selector {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border: none !important;
    background: #fffefb;
    color: #4d4d4d;
}

#sort-selector:focus-visible {
    outline: none !important;
}


/* ------------------- Scroll to top button */
#top-btn {
    width: 50px;
    height: 50px;
    background: #fde5ee;
    position: fixed;
    right: 12px;
    bottom: 12px;
    color: black;
    display: none;
}

#top-btn:hover {
    background: #e9c2cf;
}

#top-btn a,
.update-link,
.remove-item {
    cursor: pointer;
}


/* ------------------------ Buttons */
.bg-btn-color {
    background: #fde5ee;
    border: 1px solid #000;
}


.btn-hov:hover {
    background: #fde5ee;
    color: #fff;
}

.black-btn {
    min-width: 100px;
}


/* --------------------- Bag */
.image-ratio {
    aspect-ratio: 4 / 3;
    object-fit: contain;
    width: 100%;
}

.bottom-border {
    border-bottom: #909090 1px solid;
}


/* --------------- Quantity on product details */
.qty_input {
    box-shadow: 0px 0px 0px 1px #000 inset;
    border: none !important;
    outline: none !important;
}

.qty_input:focus {
    box-shadow: 0px 0px 0px 1px #000 inset;
    border: none !important;
    outline: none !important;
}


/* ----------------------------- Toast messages */

.message-container {
    position: absolute;
    top: -65px;
    right: -13px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Toast arrows */
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #000;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colours copied from Bootstrap */

.arrow-success {
    border-bottom-color: #114b23  !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #bc3663 !important;
}

.arrow-info {
    border-bottom-color: #ffcd85 !important;
}


/* ------------------- Keyframes for banner animation */
@keyframes autoplay {
    0% {
        visibility: visible
    }
    50% {
        visibility: hidden
    }
  }


  /* ------------------- Checkout */

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000;
}

/* Mutes Country */
select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/* Mutes whole form */
#payment-form input::placeholder {
    color: #aab7c4;
}

/* ---------------------- Stripe */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}


/* -------------------- Loading animation */

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 12, 0, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.spinner-pink {
    color: #bc3663;
}


/* -------------------------- Profile */

#profile-update-form .form-control {
    color: #000;
    border: 1px solid #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}


/* Allauth form formatting */


.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.allauth-form-inner-content input:focus {
    box-shadow: 0px 0px 0px 2px #fde5ee inset;
    border: none !important;
    outline: none !important;
}

.allauth-form-inner-content label {
    margin-top: 15px;
    margin-bottom: 10px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.allauth-form-inner-content a {
	color: #222; /* text-info */
}


/* --------------------------- Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* --------------------- 404 page */

.error-size {
    font-size: 60px;
}

.error {
    width: 100%;
    max-width: 400px;
    height: auto;
}

/* ----------------------Media queries */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }


@media (max-width: 991px) {
    .container { max-width: 100%; }
    .message-container { top: -18px;right: -5px; }
    .nav-link { padding: 0.15rem; }
    .nav-link i.fa-lg { font-size: 1rem; }
    .navbar-toggler { padding: .6rem .6rem;font-size: 1rem; }
}


@media (min-width: 992px) {
    .table-size {
        width: 50%;
    }
  }


@media (max-width: 331px) {
    .baner-anim {
        height: 55px;
    }
  }


