@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--light);
}

/* Document Colours */

:root {
    /* Solid Colours */
    --dark: #140C00;
    --light: #fffefb;
    --light-grey: #EAEAEA;
    --light-grey-hov: #433636;
    --mid-grey: #959595;
    --dark-grey: #4d4d4d;
    --hex-grey: #909090;
    --hex-grey-hov: #6d6d6d;
    --yellow: #FFCD85;
    --yellow-hov: #feb247;
    --hex-yellow: #EB7100;
    --hex-yellow-hov: #cf5600;
    --yellow-light: #FFE7C6;
    --blue: #0f748a;
    --blue-hov: #005163;
    --blue-light: #BCE1E9;
    --blue-light-hov: #92d7e6;
    --warning: #a43f5f;
    --warning-hov: #6b102d;
    --warning-light: #e9c2cf;
    --warning-light-hov: #e59bb4;
    --success: #1e6633;
    --success-hov: #034116;
    --success-light: #b5dec1;
    --success-light-hov: #8cc29c;
    --message-closed: #e2fbea;
    --light-pink: #fde5ee;
}


.font-title {
    font-family: "Great vibes", sans-serif;
}


.pink-bg {
    background-color: var(--light-pink);
}

/* Main page photo */
.photo {
    height: 400px;
    background: url('/media/photo.jpg') no-repeat center center;
    background-size: cover;
}


.logo-font {
    text-transform: uppercase;
}

.main-logo {
    width: fit-content;
}

/* Shop Now Button */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #222 !important;
    color: white !important;
}

/* Search bar */
.search-box {
    height: 42px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.50) inset;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.search-box input {
    border: none;
    background: none;
    padding: 5px;
    padding-left: 10px;
    flex-grow: 1;
}

.search-box input:focus,
.search-box input:focus-visible {
    box-shadow: 0px 0px 0px 2px var(--light-pink) inset;
    border: none !important;
    outline: none !important;
}

.search-box button {
    background-color: var(--light-pink);
    border-radius: 0;
    width: 42px;
    border: solid 1px black;
}

.search-box button:hover,
.search-box button:active,
.search-box button:focus {
    background: var(--warning-light);
    color: white;
}

/* Shadow on hamburger button */
.shadow-btn {
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.35)!important;
}


.shadow-btn:active,
.shadow-btn:focus {
    background: var(--light-pink);
    color: white;
}

/* Footer */
.footer-mg i {
    margin-right: 5px;
}

.footer-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    -webkit-text-decoration-color: rgba(255, 254, 251, 0);
    text-decoration-color: rgba(255, 254, 251, 0);
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

/* Products sorting */
.sort-select-wrapper {
    overflow: hidden;
    border: 2px solid var(--warning-light) !important;
}

#sort-selector {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border: none !important;
    background: var(--light);
    color: var(--dark-grey);
}

#sort-selector:focus-visible {
    outline: none !important;
}


/* Scroll to top button */
#top-btn {
    width: 50px;
    height: 50px;
    background: var(--light-pink);
    position: fixed;
    right: 12px;
    bottom: 12px;
    color: black;
    display: none;
}

#top-btn:hover {
    background: var(--warning-light);
}

#top-btn a {
    cursor: pointer;
}


/* Contact Page */
.bg-color {
    background: var(--light-pink);
}


.btn:hover {
    background: var(--warning-light);
}

/* Larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }


  @media (max-width: 992px) {
    .container {
      max-width: 100%;
    }
  }




