<!-- Menu main nav -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black me-5" href="#" id="all-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Cakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-link">
                <a href="" class="dropdown-item">All Cakes</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black me-5" href="#" id="birthday-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Birthday Cakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="birthday-link">
                <a href="" class="dropdown-item">For Her</a>
                <a href="" class="dropdown-item ">For Him</a>
                <a href="" class="dropdown-item ">1st Birthday Cake</a>
                <a href="" class="dropdown-item ">18th Birthday Cake</a>
                <a href="" class="dropdown-item ">30th Birthday Cake</a>
                <a href="" class="dropdown-item">All Birthday Cakes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black me-5" href="#" id="wedding-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wedding Cake
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wedding-link">
                <a href="" class="dropdown-item">One Tier Cakes</a>
                <a href="" class="dropdown-item">Two Tier Cakes</a>
                <a href="" class="dropdown-item">Three Tier Cakes</a>
                <a href="" class="dropdown-item">All Wedding Cakes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black me-5" href="#" id="treats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Treats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="treats-link">
                <a href="" class="dropdown-item">Cupcakes</a>
                <a href="" class="dropdown-item">Brownies</a>
                <a href="" class="dropdown-item">All Treats</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black" href="#" id="vegan-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vegan Cakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="vegan-link">
                <a href="" class="dropdown-item">Birthday Vegan Cakes</a>
                <a href="" class="dropdown-item">Wedding Vegan Cakes</a>
                <a href="" class="dropdown-item">Vegan Treats</a>
                <a href="" class="dropdown-item">All Vegan Cakes</a>
            </div>
        </li>
    </ul>
</div>