{% extends "base.html" %}
{% load static %}

{% block extra_title %}- 404! Page Doesn't Exist!{% endblock %}


{% block content %}

<div class="container px-md-4 py-4 py-md-5 text-center">

    <!-- Error Page Content -->
    <div class="d-flex justify-content-center align-items-center mb-3 mt-4">
        <img src="https://cake-heaven.s3.eu-west-2.amazonaws.com/media/error.webp" alt="a women trapped inside donut - error" class="error">
        
    </div>
    <h1 class="error-size text-center mx-3">404</h1>
    <h2>OOPS! Page not found!</h2>
    
    <!-- Home Button -->
    <div class="m-4">
        <a href="{% url 'home' %}" class="text-decoration-none text-black">
            <button class="d-inline bg-btn-color btn btn-lg btn-hov rounded-0 shadow logo-font my-5">Go Home</button>
        </a>
    </div>
</div>
{% endblock %}