{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <title>Cake Heaven {% block extra_title %}{% endblock %}</title>

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Bootstrap JS -->
    <script src="https://kit.fontawesome.com/baba64def8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
    </script>
    {% endblock %}



</head>

<body>
    <header class="container">
        <!-- Banner -->
        <div class="row text-center baner-anim pink-bg text-black">
            <div class="anim">
                <p class="logo-font my-2 ms-0">Order by 4PM for next day delivery</p>
            </div>
            <div class="anim">
                <p class="logo-font my-2">Free delivery on orders over £{{ free_delivery_threshold }}!</p>
            </div>
        </div>
        <!-- Logo  -->
        <div class="row bg-white pt-lg-2 d-none d-lg-flex my-2">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-start">
                <a href="{% url 'home' %}" class="nav-link main-logo">
                    <h1 class="logo-font text-black my-0">Cake Heaven</h1>
                </a>
            </div>
            <!-- Search Box -->
            <div class="col-12 col-lg-4 my-auto">
                <form method="GET" action="{% url 'products' %}">
                    <div class="search-box">
                        <input type="text" name="q" placeholder="Search our products" aria-label="Search our products">
                        <button type="submit">
                            <i class="fas fa-search"></i>
                            <span class="sr-only">Submit your search</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-end text-lg-right my-0">
                    <!-- Account dropdown -->
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Site Management</a>
                            {% endif %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="" class="dropdown-item">Sign Out</a>
                            {% else %}
                            <a href="" class="dropdown-item">Register</a>
                            <a href="" class="dropdown-item">Sign In</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- Shopping Bag -->
                    <li class="list-inline-item">
                        <a class="text-black text-center nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                {% if grand_total %}
                                    <div><i class="fa-solid fa-cart-plus fa-lg"></i></div>  <!-- Icon for full basket -->
                                {% else %}
                                    <div><i class="fa-solid fa-cart-shopping fa-lg"></i></div>  <!-- Default icon for empty basket -->
                                {% endif %}
                                <p class="my-0">
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Menu -->
        <div class="row mx-1">
            <nav class="navbar navbar-expand-lg navbar-light w-100 my-2">
                <button class="navbar-toggler shadow-btn" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Mobile Nav Bar -->
                {% include 'includes/mobile-nav.html' %}
                <!-- Main menu -->
                {% include 'includes/menu-nav.html' %}
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}


    {% block content %}
    {% endblock %}

    <!-- Scroll to top button -->
    <div id="top-btn">
        <a class="text-decoration-none border border-black shadow-sm h-100 w-100 d-flex">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>

    <!-- Footer -->
    <footer class="container pink-bg text-black pt-4 pb-2 mt-4">
        <div class="row">
            <div class="col-md-6">
                <h4>About Cake Heaven</h4>
                <p class="small">Cake Heaven is a premium bakery that has established itself as a leader in the
                    industry. With
                    a rich history spanning several decades, their expertise and commitment to quality shine through
                    in
                    every creation. From intricately designed wedding cakes to mouthwatering pastries, Cake Heaven
                    continuously delights customers with their exceptional craftsmanship and delicious flavors.
                </p>
            </div>
            <!-- Contact us form page -->
            <div class="col-6 col-md-3">
                <a class="d-block text-black text-decoration-none" href="{% url 'contact' %}">
                    <h4 class="footer-link">Contact Us</h4>
                </a>
                <!-- Clickable links for telephone number and email address -->
                <ul class="list-unstyled">
                    <li class="mb-2 footer-link">Phone: <a class="text-black text-decoration-none"
                            href="tel:01756254754">01 756 254 754</a></li>
                    <li class="mb-2 footer-link">Email: <a class="text-black text-decoration-none"
                            href="mailto:4cakeheaven@gmail.com">4cakeheaven@gmail.com</a></li>
                    <li>Address: 123 Baker Street, Caketown, UK</li>
                </ul>
            </div>
            <!-- Social media links -->
            <div class="col-6 col-md-3 footer-mg">
                <h4>Follow Us</h4>
                <a class="d-block text-decoration-none mb-2" href="https://www.facebook.com/" target="_blank"
                    aria-label="Facebook - Opens in a new tab">
                    <i class="fa-brands fa-facebook text-black text-center d-inline"></i>
                    <p class="text-black d-inline footer-link">Facebook</p>
                </a>
                <a class="d-block text-decoration-none mb-2" href="https://www.instagram.com/" target="_blank"
                    aria-label="Instagram - Opens in a new tab">
                    <i class="fa-brands fa-instagram text-black text-center d-inline"></i>
                    <p class="text-black d-inline footer-link">Instagram</p>
                </a>
                <a class="d-block text-decoration-none" href="https://twitter.com/" target="_blank"
                    aria-label="Twitter - Opens in a new tab">
                    <i class="fa-brands fa-twitter text-black text-center d-inline"></i>
                    <p class="text-black d-inline footer-link">Twitter</p>
                </a>
            </div>
        </div>
        <hr>
        <!-- Copyright lower footer -->
        <div class="text-center">
            <p>&copy; 2023 Cake Heaven. All rights reserved.</p>
            <p class="small fst-italic">Site is built for educational purposes and all products are entirely
                fictional. Transactions are made using Stripe's test mode and no money or products will be sent or
                received.</p>
        </div>
    </footer>

    {% block postloadjs %}
    <!-- Scroll Up Button -->
    <script src="{% static 'js/scroll_top.js' %}"></script>
    {% endblock %}

    {% block extra_js%}
    {% endblock %}

</body>

</html>