{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Contact page container -->
<div class="container">
    <div class="row pt-3 mb-2">
        <div class="col-12 col-lg-10 offset-lg-5">
            <hr>
            <h3 class="logo-font pink-bg mb-4 py-2 ps-3 text-center">Contact us</h3>
        </div>
    </div>
<!-- Contact form -->
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 mt-2">
            <p>Send us a message using the form below.</p>
            <form method="POST" action="{% url 'contact' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <!-- Buttons -->
                <div class="text-end">
                    <a class="shop-now-button black-btn btn shadow rounded-0 logo-font me-2" href="{% url 'products' %}">Cancel</a>
                    <button class="bg-btn-color btn btn-hov rounded-0 shadow logo-font" type="submit">Send</button>
                </div>
            </form>
        </div>            
    </div>
</div>

{% endblock %}