{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- <div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 mt-2">
            <h2 text-black logo-font>We sent your message</h2>
            <div class="col-12 col-lg-6 offset-lg-3 mt-2">
                <p> You can send another in the <a href=" {% url 'contact' %}">Contact Page</a></p>
            </div>
        </div>
    </div>
</div> -->


<div class="container padding-bottom pt-3">
        <br>
        <h3 class="logo-font mt-2">Thank you for your message</h3>
        <hr>
        <br>
        <h4>We will get back to you as soon as possible to discuss your inquiry.</h4>
        <br>
        <ul>
            <li>
                <h5 class="py-2">You can send another in the <a class="logo-font text-black"
                        href=" {% url 'contact' %}">Contact page</a></h5>
            </li>
            <li>
                <h5 class="py-2">Or <a class="logo-font text-black" href="{% url 'products' %}">keep shopping!</a></h5>
            </li>
        </ul>
</div>
{% endblock %}